{% extends "main.html" %}
{% load static %}

{% block cssfiles %}
<link rel="stylesheet" href="{% static 'whou_meetings_css.css' %}">
{% endblock %}

{% block content %}
    <table style="margin: 64px auto; box-shadow: 0 0 10px grey;">
    <tr><th colspan="8">Мои встречи</th></tr>
     <tr>
         <td>Картинка</td>
         <td>Имя</td>
         <td>Email</td>
         <td>Фамилия</td>
         <td>Телефон</td>
         <td>VK</td>
     </tr>
        {% if lis %}


        {% for data in lis %}
    <tr>
        <td><div class="round"><img src="{{data.Uri_image}}"></div></td>
        <td><span>{{data.name}}</span></td>
        <td><span>{{data.email}}</span></td>
        <td><span>{{data.last_name}}</span></td>
        <td><span>{{data.phone}}</span></td>
        <td><a target="_blank" href="https://vk.com/{{data.vk}}">{{data.vk}}</a></td>
    </tr>
        {% endfor %}
        {% else %}
        <td><span>Нет встречь</span></td>
        {% endif %}
    <!--<tr>
      <td>*</td>
      <td>*</td>
      <td colspan="3"></td>
    </tr>-->

{% endblock %}