{% extends 'main.html' %}
{% load static %}

{% block cssfiles %}
<link rel="stylesheet" href="{% static 'whou_sign_up_css.css' %}">
<link rel="stylesheet" href="{% static 'whou_changes_css.css' %}">
{% endblock %}

{% block content %}
<a class="t">Вход в систему:</a>
    <div class="round"><img width="220px" height="220px" src="{% static 'hand.png' %}"></div>

    <form action="/signin/" method="post">
        {% csrf_token %}
    <div class="d1 d">
              <input type="text" placeholder="Почта:" name="email" value="{{email}}">
    </div>
    <div class="d2 d">
              <input type="password" placeholder="Пароль:" name="password" value="{{password}}">
    </div>

        <input class="b" type="submit" value="SignIn"><a href="{% url 'main' %}">
    </form>
{% endblock %}