{% extends 'main.html' %}
{% load static %}
{% block cssfiles %}
<link rel="stylesheet" href="{% static 'w3/whou_sign_up_css.css' %}">
{% endblock %}

{% block content %}
<a class="t">Регистрация:</a>
    <div class="round"><img width="220px" height="220px" src="{% static 'hand.png' %}"></div>

    <form action="/signup/" method="post">
        {% csrf_token %}
    <div class="d1 d">
              <input type="text" placeholder="Имя:" value="{{name}}" name="name">
    </div>
    <div class="d2 d">
              <input type="text" placeholder="Пароль:" value="{{password}}" name="password">
    </div>
    <div class="d3 d">
              <input type="text" placeholder="Телефон:" value="{{phone}}" name="phone">
    </div>
    <div class="d2 d">
              <input type="text" placeholder="Почта:" value="{{email}}" name="email">
         </div>

    <input class="b" type="submit" value="SignUp">
    </form>
{% endblock %}