<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'w3/whou_sign_up_css.css' %}">
    <title>WHOU</title>
</head>
<body bgcolor="#E0FFFF">
    <div id="block-body">
     <header>
       <div class="logo">
        <a>
          <span class="use">WHO</span><span class="web">U</span><span class="ru">.ru</span>
        </a>
       <p>ТЕПЕРЬ ЗНАКОМИТЬСЯ - ПРОСТО</p>
       </div>

       <div class="top-menu">
         <ul>
             <li><a href="{% url 'main' %}">Главная</a></li>
             <li><a href="{% url 'profile' %}">Профиль</a></li>
             <li><a href="{% url 'meetings' %}">Мои встречи</a></li>
             <li><a href="{% url 'statistics' %}">Статистика</a></li>
             <li><a href="{% url 'updates' %}">Обновления</a></li>
             <li><a href="{% url 'signin' %}">Вход</a></li>
             <li><a>Регистрация</a></li>
         </ul>
           <div class="d7">
            <form>
              <input type="text" placeholder="Искать здесь...">
            </form>
         </div>
       </div>
     </header>
    </div>
    <a class="t">Регистрация:</a>
    <div class="round"><img width="220px" height="220px" src="{% static "Icon_kopia.png" %}"></div>

    <form action="/signup/" method="post">
        {% csrf_token %}
    <div class="d1 d">
              <input type="text" placeholder="Имя:" value="{{name}}" name="name">
    </div>
    <div class="d2 d">
              <input type="text" placeholder="Пароль:" value="{{password}}" name="password">
    </div>
    <div class="d3 d">
              <input type="text" placeholder="Телефон:" value="{{phone}}" name="phone">
    </div>
    <div class="d2 d">
              <input type="text" placeholder="Почта:" value="{{email}}" name="email">
         </div>

    <input class="b" type="submit" value="SignUp"><form href="{% url 'main' %}">
    </form>
</body>
</html>