{% extends "main.html" %}
{% load static %}
{% block cssfiles %}
<link rel="stylesheet" href="{% static 'whou_statistics_css.css' %}">
{% endblock %}
{% block content %}
    <div class="canvas">
        <svg class="chart" width="500" height="500" viewBox="0 0 50 50">
        <circle class="unit" r="15.9" cx="50%" cy="50%"></circle>
        <circle class="unit" r="15.9" cx="50%" cy="50%"></circle>
        </svg>

        <div class="legend">
          <p class="title">С кем я встречался на этой неделе?</p>
          <ul class="caption-list">
            <li class="caption-item">мальчики</li>
            <li class="caption-item">девочки</li>
          </ul>
        </div>
    </div>

    <div class="canvas1">
        <svg class="chart1" width="500" height="500" viewBox="0 0 50 50">
        <circle class="unit1" r="15.9" cx="50%" cy="50%"></circle>
        <circle class="unit1" r="15.9" cx="50%" cy="50%"></circle>
        <circle class="unit1" r="15.9" cx="50%" cy="50%"></circle>
        <circle class="unit1" r="15.9" cx="50%" cy="50%"></circle>
        </svg>

        <div class="legend1">
          <p class="title1">Из каких городов были эти люди?</p>
          <ul class="caption-list1">
            <li class="caption-item1">Москва</li>
            <li class="caption-item1">Перербург</li>
            <li class="caption-item1">Коломна</li>
            <li class="caption-item1">Саратов</li>
          </ul>
        </div>
    </div>

</body>
</html>
{% endblock %}